html {
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: #7e9fce;
}

.nav-link {
  color:white;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar-brand {
  color:white;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pager {
  color: white;
  background-color: #dae3f1;
}

.row{
  background-color: #b5c8e3;
  margin: 10%;
  margin-top: 5%;
}

.home-subtitle {
  background-color: #b5c8e3;
}

a {
  color:white;
  font-family: "brevia", sans-serif;
}

.img-fluid {
  padding: 5%;
  width: 80%;
  border-radius: 10%;
}

p {
  font-family: "gelica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "costa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
margin: 6%;
}

.list {
margin-left: 20%;
}

.timage1 {
margin: 5%;
}

.timage2{
margin: 5%;
}

.foot {
background-color: #7e9fce;
color: rgb(28, 56, 94);
}
